n8n-workflow-example.json
{
  "name": "PDF Filler - Exemple de Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "remplir-pdf",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "fill-pdf-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/webhook/fill-pdf",
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParametersJson": "={{ {\n  \"templateName\": $json.templateName || \"formulaire.pdf\",\n  \"fields\": $json.fields || {\n    \"nom\": \"Dupont\",\n    \"prenom\": \"Jean\",\n    \"email\": \"jean@example.com\"\n  }\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "http-request-1",
      "name": "Fill PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ \"filled_\" + $('Webhook').item.json.templateName }}",
        "options": {}
      },
      "id": "write-file-1",
      "name": "Save PDF",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [690, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fill PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fill PDF": {
      "main": [
        [
          {
            "node": "Save PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
